/* General Rules */

/* Utility */
.btn{
  border: 2px solid #fff;
  border-radius: 10px;
  background: #e74c3c;
  color: #fff;
  padding: 10px 80px;
  font-size: 1.5rem;
  cursor: pointer;
}

.center-flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* App */
.app{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
/* Header */
.main-header{
  flex-basis: 50px;
  background: #058E74;
}

.header-title{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Main */
.main-content{
  background: #2B2B2B;
}

.game-container{
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.check-email{
  height: 30px;
  background: #34495e;
}

.dice-container{
  flex-grow: 1;
}

.dice-container .table{
  max-width: 100%;
}

.dice-logo .man{
  position:absolute;
  bottom: 86px;
  left: 120px;
  max-width: 40%;
  opacity: 0;
}

.man-moving{
  animation: move-man 1s linear;
  position:absolute;
  bottom: 86px;
  left: 120px;
  max-width: 40%;
  opacity: 1;
}

@keyframes move-man {
  0%{
    bottom: 86px;
    left: -160px;
    opacity: 1;
  }
  100%{
    bottom: 86px;
    left: 120px;
    opacity: 1;
  }
}

.main-footer{
  flex-grow: 1;
  background: #2c3e50;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.score{
  flex-basis: 100%;
  text-align: center;
}

.score i{
  position: absolute;
  left: 45%;
  font-size: 40px;
  padding-top: 10px;
}

.score-player i{
  animation: rotation1 1.5s linear;
}

@keyframes rotation1 {
  0%{
    transform:rotate(20deg);
    left: 0%;
    content: '\f524';
  }

  25%{
    transform:rotate(360deg);
    left: 90%;
  }

  70%{
    transform:rotate(20deg);
    left: 5%;
  }

  100%{
    transform:rotate(360deg);
    left: 45%;
  }
}

.computer-score i{
  animation: rotation2 2s linear;
}

@keyframes rotation2 {
  0%{
    transform:rotate(20deg);
    left: 5%;
    content: '\f524';
  }

  25%{
    transform:rotate(360deg);
    left: 90%;
  }

  50%{
    transform:rotate(20deg);
    left: 5%;
  }

  75%{
    transform:rotate(360deg);
    left: 90%;
  }

  100%{
    transform:rotate(20deg);
    left: 45%;
  }
}

.hidden{
  opacity: 0;
}

.show{
  opacity: 1;
  transition: opacity 2s;
  transition-delay: 2.5s;
}



/* Footer */